.cart_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* padding: 0 6px 0 6px; */
    margin: 20px;

    height: 40px;
    width: 100%;

}

.cart_item img{
    height: 25px;
    width: 25px;
}
.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}